<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
</head>
<body>
    <form action="/login" method="POST">
        <label>이름</label><input type="text" name="username">
        <label>나이</label><input type="text" name="age">
        <label>성별</label><input type="text" name="sex">
        <label>전공</label><input type="text" name="major">
        <label>주소</label><input type="text" name="address">
        
        <input type="submit">
    </form>
</body>
</html>